@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$main-font: "Montserrat";

$main-color: #133054;
$light-color: rgb(242, 243, 247);
$second-light-color: rgb(236, 236, 244);