.page-operation{
    &__content{
        margin-top: 15px;
        display: flex;
        gap: 15px;
        width: 100%;
        margin-bottom: 15px;
    }
    &__operations{
        flex: 0 1 400px;
        height: auto; 
        min-height: calc(100vh - 90px - 30px);
        margin-bottom: auto;
        position: sticky;
        top:15px;
        left: 0;  
        background-color: white;
        border-radius: 10px;
        padding: 15px;
    }
    &__header{
        margin-bottom: 5px;
    }
    &__buttons{
        margin-left: auto;
        min-width: 48px;
        display: flex;
        gap: 8px;
    }
    &__button{
        padding: 5px 10px;
        flex: 0 0 25px;
        height: 25px;
        border-radius: 5px;
        background-color: rgb(238, 238, 243);
        font-weight: 500;
        font-size: 16px;
        display: none;
        cursor: pointer;
        &::before{
            @include font-awesome;
            font-size: 15px;
            color: black;
            margin-right: 5px;
        }
        &_chart{
            &::before{
                content: "\e473";
            }
        }
        &_filter{
            &::before{
                content: "\f0b0";
            }
        }
    }
    &__sorting{
        flex: 0 2 350px;
        min-width: 300px;
        height: auto;
        min-height: calc(100vh - 90px - 30px);
        margin-bottom: auto;
        position: sticky;
        top:15px;
        left: 0; 
    }
    &__chart{
        flex: 1 1 500px;
        height: auto;
        min-height: calc(100vh - 90px - 30px);
        margin-bottom: auto;
        position: sticky;
        top:15px;
        left: 0; 
        background-color: white;
        border-radius: 10px;
    }
    @media screen and (max-width: 1250px) {
        &__button{
            &_filter{
                display: block;
            }
        }
    }
    @media screen and (max-width: 855px) {
        &__button{
            &_chart{
                display: block;
            }
        }
        &__operations{
            flex: 1 1 400px;
        }
        &__content{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
.list-all-operations{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .item-category:last-child {
        margin-bottom: 0;
    }
    .item-category{
        margin-bottom: 10px;
    }
}
.operations-sorting{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    &__header{
        margin-bottom: 7px;
        padding: 15px;
        border-bottom: 2px solid #edecf5;
    }
    &__title{
        font-size: 22px;
        font-weight: 500;
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__block{

    }
    &__block-header{
        padding: 15px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 2px solid #edecf5;
    }
    &__block-title{
        font-size: 16px;
        font-weight: 500;
    }
    &__icon{
        &::before{
            content: "\f107";
            @include font-awesome;
            color: black;
        }
    }
    &__content{
        padding: 0 15px;
    }
    &__footer{
        margin-top: auto;
        padding: 15px;
        display: flex;
        gap: 10px;
    }
    @media screen and (max-width: 1250px) {
        position: fixed;
        z-index: 5;
        left: calc(100% + 400px);
        top: 15px;
        bottom: 15px;
        transition: left .3s ease;
        width: 400px;
        min-height: auto !important;
        overflow-y: auto;
        &_open{
            left: calc(100% - 415px);
        }
    }
    @media screen and (max-width: 650px) {
        right: auto;
        left: 0;
        top: 100%;
        transition: top .3s ease;
        width: 100%;
        height: calc(100vh - 30px) !important;
        min-height: auto !important;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &_open{
            top: 30px;
        }
    }
}
.cost-sorting{
    width: 100%;
    &__input-list{
        width: 100%;
        height: 40px;
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
    }
    &__input-wrapper{
        flex: 1 1 auto;
        height: 100%;
        background-color: #edecf5;
        border-radius: 7px;
        position: relative;
        overflow: hidden;
    }
    &__input{
        background-color: transparent;
        width: 100%;
        height: 100%;
        &:focus + &-label, &:valid + &-label{
            left: -100%;
            opacity: 0;
        }
    }
    &__input-label{
        pointer-events: none;
        position: absolute;
        left: 3px;
        top:50%;
        transform: translateY(-50%);
        opacity: 1;
        transition: all .3s ease;
    }
}
.date-sorting{
    width: 100%;
    &__input-list{
        width: 100%;
        height: 40px;
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
    }
    &__input-wrapper{
        flex: 1 1 auto;
        height: 100%;
        background-color: #edecf5;
        border-radius: 7px;
        position: relative;
        overflow: hidden;
    }
    &__input{
        background-color: transparent;
        width: 100%;
        height: 100%;
        &:focus + &-label, &:valid + &-label{
            left: -100%;
            opacity: 0;
        }
    }
    &__input-label{
        pointer-events: none;
        position: absolute;
        left: 3px;
        top:50%;
        transform: translateY(-50%);
        opacity: 1;
        transition: all .3s ease;
    }
}
.spoller{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .3s ease, padding .3s ease;
    overflow: hidden;
    &_active{
        padding: 15px;
        grid-template-rows: 1fr;
        .spoller-height-auto{
            height: auto;
        }
    }
    &-height-auto{
        min-height: 0;
    }
}
.range{
    .irs-line{
        background-color: #edecf5 !important;
        height: 2px !important;
    }
    .irs-bar{
        background-color:  $main-color !important;
        height: 2px !important;
    }
    .irs-handle{
        top:50% !important;
        transform: translateY(10%);
        width: 10px !important;
        height: 10px !important;
        background-color: $main-color !important;
        border-radius: 50% !important;
        border: 2px solid $main-color !important;
        i{
            display: none !important;
        }
    }
    .irs-from, .irs-to, .irs-single{
        transform: translate(0, 35px) !important;
        background-color: transparent !important;
        color: $main-color !important;
        &::before{
            display: none !important;
        }
    }
    &_date{
        .irs-from{
            transform: translate(35%, 35px) !important;
        }
        .irs-to{
            transform: translate(-35%, 35px) !important;
        }
    }
    .irs-max, .irs-min{
        display: none !important;
    }
    &__input{
        
    }
}
.category-sorting{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-check{
    display: flex;
    align-items: center;
    gap: 7px;
    &__wrapper-inp{
        flex: 0 0 22px;
        height: 22px;
        border-radius: 4px;
        background-color: #edecf5;
        position: relative;
    }
    &__inp{
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        &:checked + .input-check__wrapper-inp-bg{
            opacity: 1;
        }
    }
    &__wrapper-inp-bg{
        pointer-events: none;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .3s ease;
        &::before{
            content: "\f00c";
            @include font-awesome;
            color: $main-color;
            font-size: 16px;
        }
    }
    &__label{
        cursor: pointer;
    }
}
.reset-filter{
    padding: 0 !important;
    flex: 0 0 40px;
    height: 40px;
    &::before{
        content: "\f2ed";
        @include font-awesome;
        color: white;
    }
}
.operations-chart-bar{
    position: relative;
    overflow: hidden;
    &__hide-logo{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70px;
        height: 20px;
        background-color: white;
        z-index: 1;
    }
    #chartExpensesAndIncomeBar{
        margin-left: -10px;
        width: calc(100% + 30px) !important;
        height: calc(100vh - 90px - 40px) !important;
    }
    @media screen and (max-width: 855px) {
        #chartExpensesAndIncomeBar{
            height: 400px !important;
        }
    }
}
.operations-chart{
    padding: 15px 15px 0 15px;
    border-radius: 10px;
    background-color: white;
    &__header{
        margin-bottom: 5px;
        display: none;
    }
    &__title{
        font-size: 18px;
        font-weight: 500;
    }
    @media screen and (max-width: 855px) {
        position: fixed;
        z-index: 5;
        left: 0;
        top: 100%;
        transition: top .3s ease;
        width: 100%;
        height: calc(100vh - 30px) !important;
        min-height: auto !important;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow-y: auto;
        &_open{
            top: 30px;
        }
        &__header{
            display: block;
        }
    }
}
.operations-mobile-menu{
    .mobile-navigation__item_operations{
        .mobile-navigation__text{
            color: rgb(30, 30, 120);
        }
        .mobile-navigation__icon{
            &::before{
                color: rgb(30, 30, 120);
            }
        }
    }
}