.icon-food1::before{
    content: "\f805" !important;
}
.icon-food2::before{
    content: "\f818" !important;
}
.icon-food3::before{
    content: "\f564" !important;
}
.icon-food4::before{
    content: "\e4c6" !important;
}
.icon-food5::before{
    content: "\f0f4" !important;
}
.icon-food6::before{
    content: "\f7b6" !important;
}
.icon-food7::before{
    content: "\f72f" !important;
}
.icon-food8::before{
    content: "\f4e3" !important;
}
.icon-food9::before{
    content: "\f810" !important;
}
.icon-food10::before{
    content: "\f80f" !important;
}
.icon-food11::before{
    content: "\f1fd" !important;
}
.icon-food12::before{
    content: "\f5d1" !important;
}
.icon-food13::before{
    content: "\f816" !important;
}
.icon-food14::before{
    content: "\e2eb" !important;
}
.icon-food15::before{
    content: "\f7ec" !important;
}
.icon-food16::before{
    content: "\f7ef" !important;
}
.icon-food17::before{
    content: "\f7ec" !important;
}
.icon-food18::before{
    content: "\e448" !important;
}
.icon-food19::before{
    content: "\f561" !important;
}
.icon-food20::before{
    content: "\f79f" !important;
}
.icon-food21::before{
    content: "\f0fc" !important;
}
.icon-home1::before{
    content: "\f015" !important;
}
.icon-home2::before{
    content: "\f4b8" !important;
}
.icon-home3::before{
    content: "\f6c0" !important;
}
.icon-home4::before{
    content: "\f236" !important;
}
.icon-home5::before{
    content: "\e006" !important;
}
.icon-home6::before{
    content: "\f2cd" !important;
}
.icon-home7::before{
    content: "\f2cc" !important;
}
.icon-home8::before{
    content: "\f7d8" !important;
}
.icon-home9::before{
    content: "\e06e" !important;
}
.icon-home10::before{
    content: "\f0eb" !important;
}
.icon-home11::before{
    content: "\f26c" !important;
}
.icon-home12::before{
    content: "\e06d" !important;
}
.icon-home13::before{
    content: "\f494" !important;
}
.icon-building1::before{
    content: "\f1ad" !important;
}
.icon-building2::before{
    content: "\f19c" !important;
}
.icon-building3::before{
    content: "\f64f" !important;
}
.icon-building4::before{
    content: "\f54f" !important;
}
.icon-building5::before{
    content: "\f66f" !important;
}
.icon-building6::before{
    content: "\f54e" !important;
}
.icon-building7::before{
    content: "\f549" !important;
}
.icon-building8::before{
    content: "\f594" !important;
}
.icon-building9::before{
    content: "\f0f8" !important;
}
.icon-building10::before{
    content: "\f51d" !important;
}
.icon-building11::before{
    content: "\f6a7" !important;
}
.icon-building12::before{
    content: "\e587" !important;
}
.icon-building13::before{
    content: "\f678" !important;
}
.icon-building14::before{
    content: "\f752" !important;
}
.icon-building15::before{
    content: "\e586" !important;
}
.icon-building16::before{
    content: "\e57d" !important;
}
.icon-building17::before{
    content: "\e532" !important;
}
.icon-building18::before{
    content: "\e52e" !important;
}   

.icon-statistics1::before{
    content: "\e473" !important;
}
.icon-statistics2::before{
    content: "\f200" !important;
}
.icon-statistics3::before{
    content: "\f542" !important;
}
.icon-statistics4::before{
    content: "\f201" !important;
}
.icon-statistics5::before{
    content: "\e0e4" !important;
}
.icon-statistics6::before{
    content: "\e0e3" !important;
}
.icon-statistics7::before{
    content: "\f080" !important;
}
.icon-statistics8::before{
    content: "\f1fe" !important;
}
.icon-statistics9::before{
    content: "\f080" !important;
}
.icon-statistics10::before{
    content: "\2b" !important;
}
.icon-statistics11::before{
    content: "\f068" !important;
}
.icon-statistics12::before{
    content: "\f1ec" !important;
}
.icon-statistics13::before{
    content: "\f534" !important;
}
.icon-statistics14::before{
    content: "\25" !important;
}

.icon-health1::before{
    content: "\f21e" !important;
}
.icon-health2::before{
    content: "\f004" !important;
}
.icon-health3::before{
    content: "\e076" !important;
}
.icon-health4::before{
    content: "\e059" !important;
}
.icon-health5::before{
    content: "\f0c3" !important;
}
.icon-health6::before{
    content: "\f0f1" !important;
}
.icon-health7::before{
    content: "\f493" !important;
}
.icon-health8::before{
    content: "\f5c9" !important;
}
.icon-health9::before{
    content: "\f62e" !important;
}
.icon-health10::before{
    content: "\f48e" !important;
}
.icon-health11::before{
    content: "\f484" !important;
}
.icon-health12::before{
    content: "\e1d7" !important;
}
.icon-health13::before{
    content: "\f5d7" !important;
}
.icon-health14::before{
    content: "\f368" !important;
}
.icon-health15::before{
    content: "\f82f" !important;
}
.icon-health16::before{
    content: "\f0f0" !important;
}
.icon-health17::before{
    content: "\f0fa" !important;
}
.icon-health18::before{
    content: "\f462" !important;
}
.icon-health19::before{
    content: "\f0f9" !important;
}

.icon-hobby1::before{
    content: "\f45f" !important;
}
.icon-hobby2::before{
    content: "\f453" !important;
}
.icon-hobby3::before{
    content: "\f433" !important;
}
.icon-hobby4::before{
    content: "\f1e3" !important;
}
.icon-hobby5::before{
    content: "\f44e" !important;
}
.icon-hobby6::before{
    content: "\f434" !important;
}
.icon-hobby7::before{
    content: "\f436" !important;
}
.icon-hobby8::before{
    content: "\f450" !important;
}
.icon-hobby9::before{
    content: "\f206" !important;
}
.icon-hobby10::before{
    content: "\f44b" !important;
}
.icon-hobby11::before{
    content: "\f45d" !important;
}
.icon-hobby12::before{
    content: "\f70c" !important;
}
.icon-hobby13::before{
    content: "\f5c4" !important;
}
.icon-hobby14::before{
    content: "\f7ce" !important;
}
.icon-hobby15::before{
    content: "\f7c9" !important;
}
.icon-hobby16::before{
    content: "\f7c5" !important;
}
.icon-hobby17::before{
    content: "\f6ec" !important;
}
.icon-hobby18::before{
    content: "\f432" !important;
}
.icon-hobby19::before{
    content: "\f453" !important;
}

.icon-education1::before{
    content: "\f19d" !important;
}
.icon-education2::before{
    content: "\f501" !important;
}
.icon-education3::before{
    content: "\f518" !important;
}
.icon-education4::before{
    content: "\f5fc" !important;
}
.icon-education5::before{
    content: "\f51b" !important;
}
.icon-education6::before{
    content: "\f304" !important;
}
.icon-education7::before{
    content: "\f303" !important;
}
.icon-education8::before{
    content: "\f52d" !important;
}
.icon-education9::before{
    content: "\f02d" !important;
}
.icon-education10::before{
    content: "\f02e" !important;
}
.icon-education11::before{
    content: "\f08d" !important;
}
.icon-education12::before{
    content: "\f1ea" !important;
}
.icon-education13::before{
    content: "\e0bb" !important;
}

.icon-technologies1::before{
    content: "\e4e5" !important;
}
.icon-technologies2::before{
    content: "\f390" !important;
}
.icon-technologies3::before{
    content: "\f109" !important;
}
.icon-technologies4::before{
    content: "\e163" !important;
}
.icon-technologies5::before{
    content: "\f26c" !important;
}
.icon-technologies6::before{
    content: "\f8cc" !important;
}
.icon-technologies7::before{
    content: "\f11c" !important;
}
.icon-technologies8::before{
    content: "\f02f" !important;
}
.icon-technologies9::before{
    content: "\f51e" !important;
}
.icon-technologies10::before{
    content: "\f095" !important;
}
.icon-technologies11::before{
    content: "\f2a0" !important;
}
.icon-technologies12::before{
    content: "\f3ce" !important;
}
.icon-technologies13::before{
    content: "\f58f" !important;
}
.icon-technologies14::before{
    content: "\f130" !important;
}
.icon-technologies15::before{
    content: "\f011" !important;
}
.icon-technologies16::before{
    content: "\f233" !important;
}
.icon-technologies17::before{
    content: "\f6ff" !important;
}
.icon-technologies18::before{
    content: "\f1c0" !important;
}
.icon-technologies19::before{
    content: "\f2db" !important;
}
.icon-technologies20::before{
    content: "\f7c4" !important;
}
.icon-technologies21::before{
    content: "\f1eb" !important;
}

.icon-money1::before{
    content: "\f0d6" !important;
}
.icon-money2::before{
    content: "\f53c" !important;
}
.icon-money3::before{
    content: "\f53a" !important;
}
.icon-money4::before{
    content: "\e529" !important;
}
.icon-money5::before{
    content: "\e528" !important;
}
.icon-money6::before{
    content: "\f09d" !important;
}
.icon-money7::before{
    content: "\f555" !important;
}
.icon-money8::before{
    content: "\f653" !important;
}
.icon-money9::before{
    content: "\f51e" !important;
}
.icon-money10::before{
    content: "\f81d" !important;
}
.icon-money11::before{
    content: "\f4c0" !important;
}
.icon-money12::before{
    content: "\f4d3" !important;
}
.icon-money13::before{
    content: "\24" !important;
}
.icon-money14::before{
    content: "\f153" !important;
}
.icon-money15::before{
    content: "\f158" !important;
}
.icon-money16::before{
    content: "\f688" !important;
}
.icon-money17::before{
    content: "\f662" !important;
}
.icon-money18::before{
    content: "\f379" !important;
}
.icon-money19::before{
    content: "\f42e" !important;
}

.icon-people1::before{
    content: "\f183" !important;
}
.icon-people2::before{
    content: "\f182" !important;
}
.icon-people3::before{
    content: "\f007" !important;
}
.icon-people4::before{
    content: "\f0c0" !important;
}
.icon-people5::before{
    content: "\f500" !important;
}
.icon-people6::before{
    content: "\f508" !important;
}
.icon-people7::before{
    content: "\e4e1" !important;
}
.icon-people8::before{
    content: "\e59d" !important;
}
.icon-people9::before{
    content: "\f21b" !important;
}
.icon-people10::before{
    content: "\f77c" !important;
}
.icon-people11::before{
    content: "\f118" !important;
}
.icon-people12::before{
    content: "\f11a" !important;
}
.icon-people13::before{
    content: "\f119" !important;
}
.icon-people14::before{
    content: "\f222" !important;
}
.icon-people15::before{
    content: "\f221" !important;
}
.icon-people16::before{
    content: "\f77d" !important;
}

.icon-shop1::before{
    content: "\f291" !important;
}
.icon-shop2::before{
    content: "\f07a" !important;
}
.icon-shop3::before{
    content: "\f290" !important;
}
.icon-shop4::before{
    content: "\f06b" !important;
}
.icon-shop5::before{
    content: "\f553" !important;
}
.icon-shop6::before{
    content: "\f8c0" !important;
}
.icon-shop7::before{
    content: "\f696" !important;
}
.icon-shop8::before{
    content: "\f7b5" !important;
}
.icon-shop9::before{
    content: "\f530" !important;
}
.icon-shop10::before{
    content: "\f70b" !important;
}
.icon-shop11::before{
    content: "\f3a5" !important;
}
.icon-shop12::before{
    content: "\f0ca" !important;
}
.icon-shop13::before{
    content: "\f0ae" !important;
}

.icon-transport1::before{
    content: "\f5e4" !important;
}
.icon-transport2::before{
    content: "\f21c" !important;
}
.icon-transport3::before{
    content: "\f5b6" !important;
}
.icon-transport4::before{
    content: "\f63c" !important;
}
.icon-transport5::before{
    content: "\f722" !important;
}
.icon-transport6::before{
    content: "\f7d2" !important;
}
.icon-transport7::before{
    content: "\e445" !important;
}
.icon-transport8::before{
    content: "\f533" !important;
}
.icon-transport9::before{
    content: "\e22d" !important;
}
.icon-transport10::before{
    content: "\f135" !important;
}
.icon-transport11::before{
    content: "\f1ba" !important;
}
.icon-transport12::before{
    content: "\f207" !important;
}
.icon-transport13::before{
    content: "\f239" !important;
}
.icon-transport14::before{
    content: "\f21a" !important;
}
.icon-transport15::before{
    content: "\f63b" !important;
}
.icon-transport16::before{
    content: "\f018" !important;
}
.icon-transport17::before{
    content: "\f0ac" !important;
}
.icon-transport18::before{
    content: "\f57d" !important;
}
.icon-transport19::before{
    content: "\f279" !important;
}
.icon-transport20::before{
    content: "\f773" !important;
}
.icon-transport21::before{
    content: "\e52f" !important;
}


.icon-nature1::before{
    content: "\f1bb" !important;
}
.icon-nature2::before{
    content: "\f06c" !important;
}
.icon-nature3::before{
    content: "\f18c" !important;
}
.icon-nature4::before{
    content: "\f740" !important;
}
.icon-nature5::before{
    content: "\f770" !important;
}
.icon-nature6::before{
    content: "\f75b" !important;
}
.icon-nature7::before{
    content: "\f753" !important;
}
.icon-nature8::before{
    content: "\f72e" !important;
}
.icon-nature9::before{
    content: "\f7ad" !important;
}
.icon-nature10::before{
    content: "\f6c4" !important;
}
.icon-nature11::before{
    content: "\f2ca" !important;
}
.icon-nature12::before{
    content: "\e040" !important;
}
.icon-nature13::before{
    content: "\e03f" !important;
}
.icon-nature14::before{
    content: "\e139" !important;
}
.icon-nature15::before{
    content: "\e52d" !important;
}
.icon-nature16::before{
    content: "\f0c2" !important;
}
.icon-nature17::before{
    content: "\f0e7" !important;
}
.icon-nature18::before{
    content: "\f185" !important;
}
.icon-nature19::before{
    content: "\f2dc" !important;
}
.icon-nature20::before{
    content: "\f0e9" !important;
}
.icon-nature21::before{
    content: "\f186" !important;
}

.icon-delivery1::before{
    content: "\f0d1" !important;
}
.icon-delivery2::before{
    content: "\f4de" !important;
}
.icon-delivery3::before{
    content: "\f474" !important;
}
.icon-delivery4::before{
    content: "\f4ce" !important;
}
.icon-delivery5::before{
    content: "\f468" !important;
}
.icon-delivery6::before{
    content: "\f466" !important;
}
.icon-delivery7::before{
    content: "\f49e" !important;
}
.icon-delivery8::before{
    content: "\f4cd" !important;
}
.icon-delivery9::before{
    content: "\e4c7" !important;
}
.icon-delivery10::before{
    content: "\f187" !important;
}

.icon-subscriptions1::before{
    content: "\f16d" !important;
}
.icon-subscriptions2::before{
    content: "\f167" !important;
}
.icon-subscriptions3::before{
    content: "\f2c6" !important;
}
.icon-subscriptions4::before{
    content: "\f09a" !important;
}
.icon-subscriptions5::before{
    content: "\f099" !important;
}
.icon-subscriptions6::before{
    content: "\f0e0" !important;
}
.icon-subscriptions7::before{
    content: "\f27a" !important;
}
.icon-subscriptions8::before{
    content: "\f03e" !important;
}
.icon-subscriptions9::before{
    content: "\f1e0" !important;
}
.icon-subscriptions10::before{
    content: "\f064" !important;
}