.popup-operation{
    position: fixed;
    left: calc(100% + 490px);
    top:15px;
    width: 490px;
    height: calc(100vh - 30px);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 4;
    transition: left .3s ease;
    overflow-y: auto;
    &_open{
        left: calc(100% - 505px);
    }
    &__head{
        border-bottom: 2px solid #eef0f4;
    }
    &__head-content{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        font-size: 23px;
        font-weight: 600;
        color: black;
    }
    &__close{
        flex: 0 0 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &::before{
            content: "\f00d";
            @include font-awesome;
            font-size: 28px;
            color: black;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    &__block-wrapper{
        border-bottom: 2px solid #eef0f4;
        &_button{
            margin-top: auto;
        }
        &_without-border{
            border-bottom: none;
        }
    }
    &__block{
        padding: 15px;
        &_no-padding{
            padding: 0;
        }
    }
    &__block-title{
        font-size: 18px;
        font-weight: 500;
    }
    &__input-container{
        flex: 0 1 200px;
        height: 35px;
        display: flex;
        gap: 8px;
    }
    &__input-content{
        position: relative;
    }
    &__input{
        background-color: transparent;
        width: 100%;
        height: 100%;
        color: black;
        font-size: 15px;
        &:focus + &-label{
            opacity: 0;
            left: -10px;
        }
        &:valid + &-label{
            opacity: 0;
            left: -10px;
        }
        &_date{
            width: auto;
        }
    }
    &__input-label{
        font-size: 15px;
        font-weight: 500;
        background-color: white;
        color: black;
        position: absolute;
        left: 0;
        opacity: 1;
        top:50%;
        transform: translate(0,-50%);
        pointer-events: none;
        transition: all .3s ease;
    }
    &__select-wrapper{
        flex: 0 1 200px;
        min-height: 35px;
        display: flex;
        gap: 8px;
    }
    &__select-content{

    }
}
.input-cost{
    width: 100%;
    // height: 35px;
    display: flex;
    align-items: center;
    &__name{
        font-size: 16px;
        font-weight: 500;
        flex: 0 0 auto;
    }
    &__inp-wrapper{
        flex: 1 1 auto;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    &__input{
        direction:rtl;
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: 40px;
        &:focus + &-label{
            top: calc(100% + 20px);
        }
        &:valid + &-label{
            top: calc(100% + 20px);
        }
    }
    &__input-label{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        // font-weight: 500;
        font-size: 40px;
        transition: top .3s ease;
        pointer-events: none;
    }
    &__currency{
        margin-top: auto;
        margin-left: 5px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }
}
.input-date{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    &__name{
        font-size: 16px;
        font-weight: 500;
        flex: 0 0 auto;
    }
    &__inp-wrapper{
        margin-left: auto;
        flex: 0 0 100px;
        height: 100%;
        position: relative;
    }
    &__input{
        direction: rtl;
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: 15px;
        &::placeholder{
            color: black;
            font-weight: 500;
            font-size: 15px;
        }
    }
    &__icon-wrapper{
        margin-left: 8px;
        flex: 0 0 18px;
        position: relative;
        .popup-operation-datepicker{
            width: 18px;
            height: 18px;
        }
        .popup-operation-datepicker-income{
            width: 18px;
            height: 18px;
        }
        .popup-operation-datepicker-change-expenses{
            width: 18px;
            height: 18px;
        }
        .popup-operation-datepicker-change-income{
            width: 18px;
            height: 18px;
        }
    }
    &__icon-input{
        cursor: pointer;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    &__icon{
        position: absolute;
        left: 0;
        top: -2px;
        pointer-events: none;
        &::before{
            content: "\f783";
            @include font-awesome;
            font-size: 18px;
            color: black;
        }
    }
}
.textarrea{
    min-height: 15px;
    border-radius: 7px;
    display: flex;
    gap: 8px;
    &__content{
        position: relative;
        width: 100%;
    }
    &__input{
        margin-top: 10px;
        background-color: transparent;
        width: 100%;
        min-height: 25px;
        max-height: 25px;
        resize:none;
        transition: min-height .3s ease;
        font-size: 15px;
        &:focus + &-label{
            opacity: 0;
            left: -10px;
        }
        &:valid + &-label{
            opacity: 0;
            left: -10px;
        }
    }
    &__input-label{
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        color: black;
        position: absolute;
        left: 0;
        opacity: 1;
        top: 50%;
        transform: translate(0,-50%);
        pointer-events: none;
        transition: all .3s ease;
    }
}
.swiper-accounts-operations{
    width: 100% !important;
    height: 100%;
    .swiper-wrapper{
        height: 100%;
    }
    .swiper-slide{
        height: 100%;
        padding: 15px;
    }
}