.statistics{
    margin-top: 15px;
    &__content{
        display: flex;
        gap: 15px;
    }
    flex: 1 1 auto;
    &__chart{
        flex: 1 1 60%;
        height: 350px;
    }   
    &__operation-list{
        flex: 1 1 40%;
        height: 360px;
    }
}
.switch-operations{
    &__input{
        &:checked + .switch-operations__element{
            &::before{
                content: "\f53a";
            }
        }
    }
    &__element{
        &::before{
            content: "\f291";
        }
    }
} 
.dashboard-statistics{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    &__title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 3px;
    }
    &__switch{
        width: 60px;
    }
}
.operation-list{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7px;
        gap: 20px;
    }
    &__title{
        font-size: 18px;
        font-weight: 500;
    }
    &__settings{
        display: flex;
        min-width: 30px;
        gap: 10px;
    }
    &__item{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 15px;
    }
    &__more-text{
        font-size: 16px;
        font-weight: 500;
    }
    &__more-arrow{
        &::before{
            content: "\f105";
            @include font-awesome;
            font-size: 15px;
        }
    }
}
.wrapper-operation{
    .item-category{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__date{
        font-size: 14px;
        margin-bottom: 3px;
        font-weight: 500;
    }
}
.list-all-operation{
    .item-category{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 10px;
        }
    }
    &__date{
        font-size: 14px;
        margin-bottom: 3px;
        font-weight: 500;
    }
}
.tool-operation{
    width: 100%;
    border-radius: 10px;
    background-color:$light-color;
    padding: 10px;
    cursor: pointer;
    &_mt{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    &:hover .tool-operation__item-arrow{
        animation: anim-arrow .5s ease 2;
    }
    @keyframes anim-arrow {
        0%, 100%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(8px);
        }
    }
    &__icon{
        width: 35px;
        height: 35px;
        background-color: $main-color;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            content: "\f309";
            @include font-awesome;
            color: rgb(255, 255, 255);
            font-size: 18px;
        }
    }
    &__item{
        margin-top: 5px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    &__item-text{
        font-size: 16px;
        font-weight: 500;
    }
    &__item-arrow{
        &::before{
            content: "\f105";
            @include font-awesome;
            font-size: 15px;
        }
    }
}
.tool-operation.open{
    .tool-operation__icon{
        &::before{
            content: "\f30c";
        }
    }
}
.operation-list__more{
    margin-top: auto;
    display: none;
    &_act{
        display: block;
    }
}
// 
.operation-chart{
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    background-color: white;
    .am5-layer-30{
        display: none !important;
    }
}
.swiper-statistics{
    width: 100%;
    height: 270px;
    position: relative;
    margin-bottom: 15px;
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        background-color: $main-color;
        border-radius: 10px;
        z-index: 1;
    }
    &__wrapper{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 15px 0 15px 15px;
        display: flex;
        gap: 20px;
    }
    &__content{
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
    }
    &__text{
        font-size: 35px;
        font-weight: 600;
        color: white;
    }
    &__slider-wrapper{
        flex: 1 1 50%;
        max-width: 630px;
    }
}
.swiper-statistics-slider{
    width: 100% !important;
    height: 100%;
    &__wrapper{
        height: 100%;
    }
    &__slide{
        width: 200px !important; 
        height: 100%;
    }
}
.tool-card{
    width: 200px;
    height: 100%;
    background-color: rgb(210, 128, 210);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease;
    &_statistics{
        background-color: rgb(214, 224, 71);
        .tool-card__icon{
            background-color: rgb(188, 197, 58);
            &::before{
                content: "\f200";
            }
        }
    }
    &_assets{
        background-color: rgb(98, 217, 172);
        .tool-card__icon{
            background-color: rgb(82, 189, 148);
            &::before{
                content: "\f09d";
            }
        }
    }
    &_settings{
        background-color: rgb(170, 169, 182);
        .tool-card__icon{
            background-color: rgb(144, 143, 150);
            &::before{
                content: "\f013";
            }
        }
    }
    &__num{
        border-radius: 7px;
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
    &__body{
        margin-top: 40px;
    }
    &__icon{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: rgb(177, 96, 177);
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            content: "\e528";
            @include font-awesome;
            font-size: 30px;
            color: white;
        }
    }
    &__title{
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 22px;
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
    }
    &__footer{
        margin-top: auto;
    }
}
.more{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    &__text{
        font-size: 16px;
        color: white;
        font-weight: 500;
    }
    &__icon{
        &::before{
            content: "\f105";
            @include font-awesome;
            font-size: 17px;
            color: white;
        }
    }
    &:hover &__icon{
        animation: anim-arrow .5s ease 2;
    }
    @keyframes anim-arrow {
        0%, 100%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(8px);
        }
    }
}
.swiper-buttons{
    display: flex;
    gap: 15px;
    margin-top: auto;
    margin-right: auto;
    &__button{
        width: 50px;
        height: 50px;
        background-color: #123d73;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .5s ease, background-color .5s ease;
        cursor: pointer;
        &:hover{
            background-color: #275997;
        }
        &:active{
            transform: scale(0.9);
        }
        &::before{
            @include font-awesome;
            font-size: 25px;
            color: white;
        }
        &_next{
            &::before{
                content: "\f054";
            }
        }
        &_prev{
            &::before{
                content: "\f053";
            }
        }
        
    }
}